<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8" />
  <meta http-equiv="X-UA-Compatible" content="IE=edge" />
  <meta name="viewport" content="width=device-width, initial-scale=1.0" />
  <link href="https://fonts.googleapis.com/css?family=Roboto:400;500;700" rel="stylesheet" />
  <title>Welcome Message</title>
</head>
<style>
  :root {
    --text: #333;
    --red: #e2445c;
    --blue: #579bfc;
    --green: #00c875;
    --yellow: #fdab3d;
    --background: #fff;
  }

  * {
    margin: 0;
    padding: 0;
    outline: 0;
    box-sizing: border-box;
  }

  body {
    font-size: 16px;
    text-align: center;
    -webkit-font-smoothing: antialiased !important;

    background-color: var(--background);
  }

  body,
  input,
  button {
    color: var(--text);
    font-family: Roboto, sans-serif;
  }

  header {
    width: 100%;
    height: 184px;

    background: var(--blue);
    color: var(--background);

    display: flex;
    align-items: center;
    justify-content: center;
  }

  header h3 {
    font-size: 24px;
  }

  div.container {
    padding: 15px;
  }

  div.container h1 {
    margin: 40px 0;
    font-size: 32px;
    font-weight: normal;
  }

  div.container p {
    width: 100%;
    max-width: 540px;

    margin: 0 auto;
    text-align: left;
  }

  div.container p+p {
    margin-top: 12px;
  }
</style>

<body>
  <header>
    <h3>moday.com</h3>
  </header>
  <div class="container">
    <h1>
      Hey <%= name %> welcome!
    </h1>
    <p>
      Thank you for signing up with us! We hope you enjoy your time with us.
      Check your account and update your profile. If you have any questions,
      just reply to this email
      <strong>we're always happy to help out.</strong>
    </p>
    <p>
      Cheers,
      <br />
      Monday's Team
    </p>
  </div>
</body>

</html>