<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link
      href="https://fonts.googleapis.com/css?family=Roboto:400;500;700"
      rel="stylesheet"
    />

    <title>Users Report</title>
  </head>
  <style>
    * {
      margin: 0;
      padding: 0;
      outline: 0;
      box-sizing: border-box;
    }

    body {
      font-size: 16px;
      text-align: center;
      -webkit-font-smoothing: antialiased !important;

      background-color: white;
    }

    body,
    input,
    button {
      color: darkgray;
      font-family: Roboto, sans-serif;
    }

    h1 {
      padding-top: 60px;
      margin-bottom: 5px;
      color: lightseagreen;
    }
  </style>
  <body>
    <h1>Hey <%= name %></h1>
    <h3>Thanks for download</h3>
  </body>
</html>
